<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CompositeUI" type="Microsoft.Practices.Mobile.Configuration.Tests.Mocks.MockSettingsSection, Microsoft.Practices.Mobile.Configuration.Tests" 
		   allowDefinition="MachineToWebRoot"  restartOnExternalChanges="true"  allowExeDefinition="MachineToLocalUser" allowLocation="true" allowOverride="true"/>
	</configSections>
	<CompositeUI>
		<!--<visualizer>
			<add type="SampleVisualizations.WorkItemVisualization, SampleVisualizations" />
		</visualizer>-->
		<services>
			<add
				serviceType="Microsoft.Practices.Mobile.Configuration.Tests.Mocks.IStatePersistenceService, Microsoft.Practices.Mobile.Configuration.Tests"
				instanceType="Microsoft.Practices.Mobile.Configuration.Tests.Mocks.IsolatedStorageStatePersistenceService, Microsoft.Practices.Mobile.Configuration.Tests" />
		</services>
	</CompositeUI>
</configuration>
