<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CompositeUI" type="Microsoft.Practices.Mobile.Configuration.Tests.Mocks.MockSettingsSection, Microsoft.Practices.Mobile.Configuration.Tests" />
		<section name="ShellItems" type="Microsoft.Practices.Mobile.Configuration.Tests.Mocks.MockShellItemsSection, Microsoft.Practices.Mobile.Configuration.Tests" />
		<section name="MyCustomSection" type="Microsoft.Practices.Mobile.Configuration.Tests.Mocks.MockCustomSection, Microsoft.Practices.Mobile.Configuration.Tests" />
		<section name="MissingSection" type="Microsoft.Practices.Mobile.Configuration.Tests.Mocks.MockShellItemsSection, Microsoft.Practices.Mobile.Configuration.Tests" />
		<section name="MissingAssembly" type="Microsoft.Practices.Mobile.Configuration.Tests.Mocks.MockShellItemsSection, Microsoft.Practices.Mobile.Configuration.Missing" />
		<section name="Endpoints" type="Microsoft.Practices.Mobile.Configuration.Tests.Mocks.MockEndpointSection, Microsoft.Practices.Mobile.Configuration.Tests" />
	</configSections>
	<MyCustomSection test="This is a test" someValue="12345" />
	<CompositeUI>
		<!--<visualizer>
			<add type="SampleVisualizations.WorkItemVisualization, SampleVisualizations" />
		</visualizer>-->
		<services>
			<add
				serviceType="Microsoft.Practices.Mobile.Configuration.Tests.Mocks.IStatePersistenceService, Microsoft.Practices.Mobile.Configuration.Tests"
				instanceType="Microsoft.Practices.Mobile.Configuration.Tests.Mocks.IsolatedStorageStatePersistenceService, Microsoft.Practices.Mobile.Configuration.Tests" />
		</services>
	</CompositeUI>
	<ShellItems>
		<MenuItems>
			<add id="1" site="FileDropDown" label="E&amp;xit" commandname="FileExit" key="Alt, F4" />
			<add id="2" site="MainMenu" label="&amp;Help" register="true" registrationsite="Help" />
			<add id="3" site="Help" label="&amp;About..." commandname="HelpAbout" key="F1" />
		</MenuItems>
	</ShellItems>

	<!--Five steps hierarchy sections: Endpoints/EndpointItems/Add/NetworkItems/Add-->
	<Endpoints>
		<EndpointItems>
			<add Name="MyHost" Address="http://default/MyHost">
				<NetworkItems>
					<add Name="Work" Address="http://work/MyHost"/>
				</NetworkItems>
			</add>
			<add Name="NoDefault="/>
		</EndpointItems>
	</Endpoints>

	<ExtraJunk>

		<html xmlns:v="urn:schemas-microsoft-com:vml"
		xmlns:o="urn:schemas-microsoft-com:office:office"
		xmlns:w="urn:schemas-microsoft-com:office:word"
		xmlns="http://www.w3.org/TR/REC-html40">

			<head>
				<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
				<meta name="ProgId" content="Word.Document"/>
				<meta name="Generator" content="Microsoft Word 11"/>
				<meta name="Originator" content="Microsoft Word 11"/>
				<link rel="File-List" href="Test%20Strategy_files/filelist.xml"/>
				<link rel="Edit-Time-Data" href="Test%20Strategy_files/editdata.mso"/>
				<link rel="OLE-Object-Data" href="Test%20Strategy_files/oledata.mso"/>
				<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]-->
				<title>Test Strategy</title>
				<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>v-tcyril</o:Author>
  <o:LastAuthor>v-tcyril</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>377</o:TotalTime>
  <o:Created>2006-03-04T01:18:00Z</o:Created>
  <o:LastSaved>2006-03-04T01:18:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>445</o:Words>
  <o:Characters>2537</o:Characters>
  <o:Company> INFOSYS</o:Company>
  <o:Lines>21</o:Lines>
  <o:Paragraphs>5</o:Paragraphs>
  <o:CharactersWithSpaces>2977</o:CharactersWithSpaces>
  <o:Version>11.6568</o:Version>
 </o:DocumentProperties>
</xml><![endif]-->
				<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]-->
				<!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
				<style>
					<!--
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;
	mso-paper-source:0;}
div.Section1
	{page:Section1;}
 /* List Definitions */
 @list l0
	{mso-list-id:353463752;
	mso-list-type:hybrid;
	mso-list-template-ids:-1676396252 67698703 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l0:level1
	{mso-level-tab-stop:.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l1
	{mso-list-id:424233383;
	mso-list-type:hybrid;
	mso-list-template-ids:-1900800352 67698703 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l1:level1
	{mso-level-tab-stop:.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2
	{mso-list-id:456290826;
	mso-list-type:hybrid;
	mso-list-template-ids:-1778378384 67698703 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l2:level1
	{mso-level-tab-stop:.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l3
	{mso-list-id:585385705;
	mso-list-type:hybrid;
	mso-list-template-ids:615649468 -2138637208 -1316864622 -2000109392 -933585440 766913310 1766346918 1159754276 1345515998 2002692888;}
@list l3:level1
	{mso-level-tab-stop:.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l3:level2
	{mso-level-tab-stop:1.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l4
	{mso-list-id:834295553;
	mso-list-type:hybrid;
	mso-list-template-ids:133072760 67698703 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l4:level1
	{mso-level-tab-stop:.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l5
	{mso-list-id:1106928594;
	mso-list-type:hybrid;
	mso-list-template-ids:-1884679072 67698703 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l5:level1
	{mso-level-tab-stop:.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l6
	{mso-list-id:1708796203;
	mso-list-type:hybrid;
	mso-list-template-ids:796181166 580039286 -1316864622 -2000109392 -933585440 766913310 1766346918 1159754276 1345515998 2002692888;}
@list l6:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:.75in;
	mso-level-number-position:left;
	margin-left:.75in;
	text-indent:-.25in;
	mso-ansi-font-size:11.0pt;
	mso-bidi-font-size:11.0pt;
	font-family:Symbol;}
@list l6:level2
	{mso-level-tab-stop:1.25in;
	mso-level-number-position:left;
	margin-left:1.25in;
	text-indent:-.25in;}
@list l7
	{mso-list-id:1930969776;
	mso-list-type:hybrid;
	mso-list-template-ids:1194595868 67698703 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l7:level1
	{mso-level-tab-stop:.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l8
	{mso-list-id:2025355470;
	mso-list-type:hybrid;
	mso-list-template-ids:2030451546 67698703 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l8:level1
	{mso-level-tab-stop:.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l9
	{mso-list-id:2031493544;
	mso-list-template-ids:615649468;}
@list l9:level1
	{mso-level-tab-stop:.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l9:level2
	{mso-level-tab-stop:1.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l9:level3
	{mso-level-tab-stop:1.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l9:level4
	{mso-level-tab-stop:2.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l9:level5
	{mso-level-tab-stop:2.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l9:level6
	{mso-level-tab-stop:3.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l9:level7
	{mso-level-tab-stop:3.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l9:level8
	{mso-level-tab-stop:4.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l9:level9
	{mso-level-tab-stop:4.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l10
	{mso-list-id:2051146688;
	mso-list-type:hybrid;
	mso-list-template-ids:87745656 67698703 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l10:level1
	{mso-level-tab-stop:.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
				</style>
				<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";
	mso-ansi-language:#0400;
	mso-fareast-language:#0400;
	mso-bidi-language:#0400;}
</style>
<![endif]-->
				<!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]-->
				<!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->

			</head>

			<body lang="EN-US" style='tab-interval:.5in'>

				<div class='Section1'>

					<p class='MsoNormal' align='center' style='text-align:center'>
						<b style='mso-bidi-font-weight: normal'>
							<span style='font-size:22.0pt'>
								Test Strategy<o:p></o:p>
							</span>
						</b>
					</p>

					<p class='MsoNormal'>
						<o:p></o:p>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:16.0pt'>
							Intro:<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:10.0pt'>
							The forces that decided the
							test strategy are as follows:<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:10.0pt'>
							<o:p></o:p>
						</span>
					</p>

					<ol style='margin-top:0in' start='1' type='1'>
						<li class='MsoNormal' style='mso-list:l1 level1 lfo1;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								The requirements for the baseline application have
								not been identified, yet.<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l1 level1 lfo1;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Performance Criteria for the baseline app has not
								been identified, yet.<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l1 level1 lfo1;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								How the baseline app would scale out to the final
								app is not known.<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l1 level1 lfo1;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Development will switch back and forth between
								development of the baseline app and the development of the architectural
								bits that drive the app.<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l1 level1 lfo1;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								The requirements of the architectural bits have
								not been identified fully, yet.<o:p></o:p>
							</span>
						</li>
					</ol>

					<p class='MsoNormal'>
						<o:p></o:p>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:10.0pt'>
							A high level view of the test
							strategy is as follows:<o:p></o:p>
						</span>
					</p>

					<ol style='margin-top:0in' start='1' type='1'>
						<li class='MsoNormal' style='mso-list:l8 level1 lfo2;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Starting from square one, the test cases and test
								code for the architectural bits will be ported from the .Net <span class='SpellE'>
									<span class='GramE'>Fx</span>
								</span>.<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l8 level1 lfo2;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Then, the test cases would be modified/identified
								at the start <span class='GramE'>of each iteration</span>.<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l8 level1 lfo2;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Performance Testing would be done to initially
								look for abnormal numbers.<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l8 level1 lfo2;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Performance Testing would then look at meeting performance
								criteria.<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l8 level1 lfo2;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Security Testing would be put off till the
								re-architecting has been done <b style='mso-bidi-font-weight:normal'>
									<i style='mso-bidi-font-style:normal'>
										<span style='color:blue'>
											&lt;Is this
											ok?&gt;
										</span>
									</i>
									<span style='color:blue'>.</span>
								</b><o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l8 level1 lfo2;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Globalization testing would be done in parallel
								with Security Testing. <o:p></o:p>
							</span>
						</li>
					</ol>

					<p class='MsoNormal'>
						<o:p></o:p>
					</p>

					<p class='MsoNormal'>
						<o:p></o:p>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:14.0pt'>
							Test Infrastructure:<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:13.0pt'>
							Current Status:<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:10.0pt'>
							4 test boxes are up and
							running with the required software (mentioned below).<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:14.0pt'>
							<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:13.0pt'>
							Hardware Requirements:<o:p></o:p>
						</span>
					</p>

					<ol style='margin-top:0in' start='1' type='1'>
						<li class='MsoNormal' style='mso-list:l7 level1 lfo4;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								No desktop hardware requirements.<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='color:blue;mso-list:l7 level1 lfo4;tab-stops:list .5in'>
							<span style='font-size:10.0pt;color:windowtext'>
								Require a Windows 5.0 mobile
								Pocket PC device for testing.
							</span>
							<b style='mso-bidi-font-weight:normal'>
								<i style='mso-bidi-font-style:normal'>
									<span style='font-size:10.0pt'>
										&lt;Ed
										and <span class='GramE'>Per</span> were discussing about this. But I don’t
										know what the outcome is.&gt;.
									</span>
								</i>
							</b>
							<i style='mso-bidi-font-style: normal'>
								<span style='font-size:10.0pt'>
									<o:p></o:p>
								</span>
							</i>
						</li>
					</ol>

					<p class='MsoNormal'>
						<span style='font-size:14.0pt'>
							<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:13.0pt'>
							Software Requirements:<o:p></o:p>
						</span>
					</p>

					<ol style='margin-top:0in' start='1' type='1'>
						<li class='MsoNormal' style='mso-list:l10 level1 lfo5;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Windows 5.0 mobile SDK<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l10 level1 lfo5;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Visual Studio 2005 (Team System Edition)<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l10 level1 lfo5;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								SQL CE<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l10 level1 lfo5;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Active Sync 5.1<o:p></o:p>
							</span>
						</li>
					</ol>

					<p class='MsoNormal'>
						<o:p></o:p>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:13.0pt'>
							Tools:<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>Functional Testing:</p>

					<ol style='margin-top:0in' start='1' type='1'>
						<li class='MsoNormal' style='mso-list:l4 level1 lfo3;tab-stops:list .5in'>
							<span class='SpellE'>
								<span style='font-size:10.0pt'>CFNUnitBridge</span>
							</span>
							<span style='font-size:10.0pt'>
								: This tool can be used to automate functional
								testing. This tool wraps up <span class='SpellE'>NUnit</span> Framework for
								running it on .Net CF. <o:p></o:p>
							</span>
						</li>
					</ol>

					<p class='MsoNormal' style='margin-left:.25in'>
						<span class='GramE'>
							<b style='mso-bidi-font-weight:normal'>
								<i style='mso-bidi-font-style:normal'>
									<span style='font-size:10.0pt;color:blue'>
										&lt;But this tool is a third party tool and
										permission is required for using this tool.
									</span>
								</i>
							</b>
						</span>
						<b style='mso-bidi-font-weight:normal'>
							<i style='mso-bidi-font-style:normal'>
								<span style='font-size:10.0pt;color:blue'>
									The catch here is that only the source
									code for this tool is available. Though the code does not require modification,
									it has to be compiled by us to generate the binaries.&gt;<o:p></o:p>
								</span>
							</i>
						</b>
					</p>

					<p class='MsoNormal' style='margin-left:.25in'>
						<span style='font-size:10.0pt'>
							<o:p></o:p>
						</span>
					</p>

					<ol style='margin-top:0in' start='2' type='1'>
						<li class='MsoNormal' style='mso-list:l4 level1 lfo3;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								TUX.Net: This tool can also be used to automate
								functional testing, but is less flexible than <span class='SpellE'>CFNUnitBridge</span>.
								<o:p></o:p>
							</span>
						</li>
					</ol>

					<p class='MsoNormal' style='margin-left:.25in'>
						<b style='mso-bidi-font-weight: normal'>
							<i style='mso-bidi-font-style:normal'>
								<span style='font-size:10.0pt; color:blue'>
									&lt;But this tool is Microsoft’s internal tool. Hence test cases
									prepared with this tool cannot be shipped. &gt;<o:p></o:p>
								</span>
							</i>
						</b>
					</p>

					<p class='MsoNormal' style='margin-left:.25in'>
						<span style='font-size:10.0pt'>
							<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>Performance Testing:</p>

					<ol style='margin-top:0in' start='1' type='1'>
						<li class='MsoNormal' style='mso-list:l2 level1 lfo6;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Profiling using custom performance counters<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l2 level1 lfo6;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Performance Stats generated by the .Net CF.<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='mso-list:l2 level1 lfo6;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Code Review using Performance Guidelines from
								MSDN, the .Net CF team and the guidelines ported from the framework.<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='color:red;mso-list:l2 level1 lfo6;tab-stops:list .5in'>
							<span class='SpellE'>
								<b style='mso-bidi-font-weight:normal'>
									<span style='font-size:10.0pt'>FxCop</span>
								</b>
							</span>
							<b style='mso-bidi-font-weight: normal'>
								<span style='font-size:10.0pt'>
									(To explore)<o:p></o:p>
								</span>
							</b>
						</li>
					</ol>

					<p class='MsoNormal' style='margin-left:.25in'>
						<span style='font-size:10.0pt'>
							<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal' style='margin-left:.25in'>
						<b style='mso-bidi-font-weight: normal'>
							<i style='mso-bidi-font-style:normal'>
								<span style='font-size:10.0pt; color:blue'>
									<o:p></o:p>
								</span>
							</i>
						</b>
					</p>

					<p class='MsoNormal'>Security Testing:</p>

					<ol style='margin-top:0in' start='1' type='1'>
						<li class='MsoNormal' style='mso-list:l5 level1 lfo7;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Code Review using Security Guidelines from MSDN
								and the guidelines ported from the framework.<o:p></o:p>
							</span>
						</li>
						<li class='MsoNormal' style='color:red;mso-list:l5 level1 lfo7;tab-stops:list .5in'>
							<span class='SpellE'>
								<b style='mso-bidi-font-weight:normal'>
									<span style='font-size:10.0pt'>FxCop</span>
								</b>
							</span>
							<b style='mso-bidi-font-weight: normal'>
								<span style='font-size:10.0pt'>
									(To explore)<o:p></o:p>
								</span>
							</b>
						</li>
					</ol>

					<p class='MsoNormal' style='margin-left:.25in'>
						<span style='font-size:10.0pt'>
							<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<o:p></o:p>
					</p>

					<p class='MsoNormal'>
						Globalization Testing: <b style='mso-bidi-font-weight:normal'>
							<span style='font-size:10.0pt;color:red'>To explore</span>
						</b>
					</p>

					<ol style='margin-top:0in' start='1' type='1'>
						<li class='MsoNormal' style='mso-list:l0 level1 lfo8;tab-stops:list .5in'>
							<span style='font-size:10.0pt'>
								Code Review using Guidelines from MSDN and the
								guidelines ported from the framework.<o:p></o:p>
							</span>
						</li>
					</ol>

					<p class='MsoNormal'>
						<o:p></o:p>
					</p>

					<p class='MsoNormal'>
						<o:p></o:p>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:14.0pt'>
							Test Strategy:<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:14.0pt'>
							<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<!--[if gte vml 1]><v:shapetype id="_x0000_t75" coordsize="21600,21600"
 o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
 stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="_x0000_i1025" type="#_x0000_t75" style='width:360.75pt;
 height:270pt' o:ole="">
 <v:imagedata src="Test%20Strategy_files/image001.emz" o:title=""/>
</v:shape><![endif]-->

					</p>

					<p class="MsoNormal">
						<o:p></o:p>
					</p>

					<p class="MsoNormal">
						<o:p></o:p>
					</p>

					<p class="MsoNormal">
						<span style='font-size:14.0pt'>
							Resource Requirements:<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<b style='mso-bidi-font-weight:normal'>
							<i style='mso-bidi-font-style: normal'>
								<span style='font-size:10.0pt;color:blue'>
									&lt;It is based on current
									visibility and requirements. But it will change likely as the project moves ahead.
									Given here is the peak requirement.&gt;<o:p></o:p>
								</span>
							</i>
						</b>
					</p>

					<p class='MsoNormal'>
						<b style='mso-bidi-font-weight:normal'>
							<i style='mso-bidi-font-style: normal'>
								<span style='font-size:10.0pt;color:blue'>
									<o:p></o:p>
								</span>
							</i>
						</b>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:10.0pt'>
							Onsite Test Lead (1)<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:10.0pt'>
							Offshore Test Lead (1)<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:10.0pt'>
							Offshore SDETS (4)<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:10.0pt'>
							Offshore Performance Tester
							(1)<o:p></o:p>
						</span>
					</p>

					<p class='MsoNormal'>
						<span style='font-size:10.0pt'>Offshore Security Tester (1)</span>
					</p>

				</div>

			</body>

		</html>

	</ExtraJunk>
</configuration>
