<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="feedSyncService" type ="Mesh4n.Adapters.HttpService.SyncServiceConfigurationSection, Mesh4n.Adapters.HttpService"></section>
	</configSections>

	<feedSyncService>
		<feedConfigurationManager
			typeName="Mesh4n.Adapters.HttpService.Configuration.FeedConfigurationManager, Mesh4n.Adapters.HttpService"
			configurationPath="Feeds"/>
	</feedSyncService>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source name="System.ServiceModel" switchValue="Error,ActivityTracing"
					propagateActivity="true">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelTraceListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="ecb_messages.svclog"
					type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
			<add initializeData="ecb_tracelog.svclog"
					type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
	
	<system.serviceModel>
		<diagnostics>
			<messageLogging
				logMalformedMessages="true"
				logMessagesAtServiceLevel="true"
				logEntireMessage="true"
				logMessagesAtTransportLevel="true"/>
		</diagnostics>
		<services>
			<service name="Mesh4n.Adapters.HttpService.SyncService">
				<endpoint
					address="http://localhost:7777"
					binding="webHttpBinding"
					behaviorConfiguration="webHttp"
					contract="Mesh4n.Adapters.HttpService.ISyncService" />
			</service>
		</services>

		<behaviors>
			<endpointBehaviors>
				<behavior name="webHttp">
					<errorHandler/>
				</behavior>
			</endpointBehaviors>
		</behaviors>

		<extensions>
			<behaviorExtensions>
				<add name="errorHandler" type="System.ServiceModel.Configuration.ErrorHandlerExtensionElement, NetFx.ServiceModel, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			</behaviorExtensions>
		</extensions>
	</system.serviceModel>

</configuration>