<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="feedSyncService" type ="Mesh4n.Adapters.HttpService.SyncServiceConfigurationSection, Mesh4n.Adapters.HttpService"></section>
	</configSections>

	<feedSyncService>
		<feedConfigurationManager
			typeName="Mesh4n.Adapters.HttpService.Configuration.FeedConfigurationManager, Mesh4n.Adapters.HttpService"
			configurationPath="Feeds.xaml"/>
	</feedSyncService>

	<system.serviceModel>
		<services>
			<service name="Mesh4n.Adapters.HttpService.SyncService">
				<endpoint
					address="http://localhost:7777"
					binding="webHttpBinding"
					behaviorConfiguration="webHttp"
					contract="Mesh4n.Adapters.HttpService.ISyncService" />
			</service>
		</services>

		<behaviors>
			<endpointBehaviors>
				<behavior name="webHttp">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>